# CM3 Pandas Opdrachten

In dit notebook vind je de volgende opdrachten
- [Opdracht 1 - Series](#Opdracht-1-Series)
- [Opdracht 2 - Dataframe](#Opdracht-2-Dataframe)
- [Opdracht 3 - Cijfers](#Opdracht-3-Cijfers)
- [Opdracht 4 - datetime](#Opdracht-4-datetime)

## Opdracht 1 Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#values = [7.0, 6.5, 9.0, 8.0]
#index = [ 'DS', 'IAC', 'NET', 'IAC']
values = [7.0, 6.5, 9.0]
index = [ 'DS', 'IAC', 'NET']
cijfers = pd.Series(values, index=index)
cijfers

- Haal het cijfer 6.5 op uit de Series door middel van:
  1. de expliciete key methode
  2. de impliciete key methode
  3. rechtstreeks met de expliciete key
  4. rechtstreeks met de impliciete key

- Retourneer de cijfers van de laatste twee vakken uit de Series.

In [ ]:
# cijfer 6.5
c1 = cijfers.loc['IAC'] # expliciete key - loc met inhoudelijke waardes
c2 = cijfers.iloc[1]    # impliciete key (rijvolgnummer) - loc met rijvolgnummer
c3 = cijfers['IAC']     # rechtsteeks sleutel - rechtstreeks met inhoudelijke waarde
c3

- Retouneer de cijfers van de laatste twee vakken uit de Series.

In [ ]:
cijfers[1:]

- Bepaal gemiddelde, mediaan, minimum en maximum van de cijfers.

In [ ]:
# gemiddelde cijfer
gem = cijfers.mean()
med = cijfers.median()
min = cijfers.min()
max = cijfers.max()
print("Gemiddeld: {} mediaan: {}, min: {}, max: {}".format(gem,med,min,max))

## Opdracht 2 Dataframe

In [ ]:
student1 = pd.Series({'Nummer':'s1', 'Naam':'Joop', 'Tentamen':99.9, 'Opdracht': 7.5})
student2 = pd.Series({'Nummer':'s2', 'Naam':'Piet', 'Tentamen':8.0, 'Opdracht': 7.0})
student3 = pd.Series({'Nummer': None, 'Naam':'Fout', 'Tentamen':99.9, 'Opdracht': 99.9})
student4 = pd.Series({'Nummer':'s3', 'Naam':'Kees', 'Tentamen':4.0, 'Opdracht': 6.0})
studenten = pd.DataFrame([student1, student2,student3, student4])
studenten

- Bepaal het totaal aantal niet-bestaande waarden.

In [ ]:
studenten.info()

- Zet de opdracht- en tentamencijfers met waarde 99.9 om naar NaN waarde

In [ ]:
studenten.loc[studenten["Tentamen"]==99.9, "Tentamen"] = np.nan
studenten

In [ ]:
#of:
studenten.replace(99.9, np.nan)

- Haal de missing values uit het DataFrame

In [ ]:
studenten.dropna(inplace = True, axis = 0)
studenten

- Zet `Nummer` als index.

In [ ]:
studenten.set_index('Nummer', inplace = True)

- Het eindcijfer van het vak is 70% tentamen en 30% opdracht; voeg dit als kolom `Eindcijfer` toe

In [ ]:
studenten['Eindcijfer'] = 0.7*studenten['Tentamen'] + 0.3*studenten['Opdracht']
studenten

- Bepaal het gemiddelde eindcijfer

In [ ]:
np.mean(studenten['Eindcijfer'])

- Wat geeft `studenten.describe()` weer?

In [ ]:
studenten.describe()

- Selecteer alle namen en cijfers van de studenten met een voldoende als eindcijfer.

In [ ]:
studenten.loc[studenten['Eindcijfer']>5.5, ["Naam", "Eindcijfer"]]

## Opdracht 3 Cijfers

Numpy arrays kunnen alleen uniforme waarden bevatten. Pandas arrays kunnen juist meer bevatten. We doen de opdracht in numpy nu in pandas. Tip: maak gebruik van de cheat sheets!

Aanvullende bron:
-	http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

De blokco√∂rdinator D.O. Cent van blok A, SIE-V2  wil graag de cijfers analyseren en verwerken. het blok bestaat uit 3 vakken, die door 10 studenten gevolgd zijn. Analyse omvat o.a. het bepalen van gemiddelde cijfer, het aantal voldoendes en cursusrendement. De verwerking bestaat uit het corrigeren van de cijfers. 


In `blokAcijfers.txt` staan de cijfers per vak (naast elkaar staan de vakken, onder elkaar de studenten):

vak1 | vak2 | vak3
----|-------|------
6.5 | 7.3   | 6.4
8.0 | 8.0	| 8.5
3.2	| 4.0	| 5.0
7.9	| 7.1	| 3.5
7.3	| 7.8	| 8.0
8.6	| 8.0	| 9.0
4.0	| 6.0	| 5.5
7.3	| 7.8	| 7.8
4.5	| 5.6	| 7.7
5.0	| 7.0	| 7.2

In `blokAStudenten.csv` staan de studentgegevens:

"Studentnr"|"Naam"|"Vooropleiding"
--|--|--
1502000|"Jan Jansen"|"HAVO"
1501677|"Ali ElMoune"|"MBO"
1503190|"Bert de Graaf"|"HAVO"
1506700|"Koos Alberts"|"MBO"
1504503|"Willie Napoli"|"MBO"
1507878|"Jorrit Beeks"|"VWO"
1502507|"Frits Wielenga"|"HAVO"
1503684|"Cornee Nijsten"|"VWO"
1503831|"Sabine Honing"|"HAVO"
1506001|"George Belfore"|"HAVO"

In [ ]:
# Deze imports zijn nodig voor de opdracht.
import pandas as pd
import numpy as np

De docent wil de gegevens in een Jupyter Notebook verwerken.
-	Lees tekstbestand: blokAcijfers.txt in, in een dataframe `cijfers`.
-	Laat zien dat de gegevens goed ingelezen zijn.
-	Wijzig de kolomnrs in de vaknamen: vakken = ['RAD','ANA', CBA'].
-	Toon de dataframe attributen.
-	Toon de index gegevens.

In [ ]:
cijfers = pd.read_csv('blokAcijfers.txt', sep="\t", names = ["RAD","ANA","CBA"])
cijfers

De docent ziet dat er 2 cijfers fout zijn en wil deze corrigeren (NB. Elke regel heeft een numeriek index gelijk aan het regelnummer.)
-	 Wijzig de volgende cijfers							
    *	vak-2, student-3  cijfer 4.0 moet 4.3 worden.
    *	vak-1, student-10, cijfer 5.0 moet 4.8 worden.

In [ ]:
cijfers.loc[2, 'ANA'] = 4.3
cijfers.loc[9, 'RAD'] = 4.8

De docent wil de studentgegevens ook aan het dataframe toevoegen.
-	Lees tekstbestand: `blokAStudenten.csv` in, in een dataframe `studenten`. Let op dat je de juiste instellingen voor sep en header meegeeft.
-	Laat zien dat de gegevens correct zijn ingelezen.

In [ ]:
studenten = pd.read_csv('blokAStudenten.csv', sep = ";")
studenten

Nu gaan we ``studenten`` en ``cijfers`` samenvoegen tot een cijferslijst. We mogen er vanuitgaan dat de volgorde van beiden dezelfde index hebben (hier de rijwaarde 0 t/m 9).
-	Combineer de beide dataframes met behulp van `p.merge()`:
    *	Je kunt hier een inner join gebruiken.
    *	Je kunt van beide zijden de index gebruiken .
-	Laat zien dat de gegevens correct zijn samengevoegd tot √©√©n dataframe cijferlijst met de kolommen: `Studentnr`; `Naam`; `Vooropleiding`; `RAD`; `ANA`; en `CBA`.

In [ ]:
cijferlijst = studenten.merge(cijfers, how = "inner", left_index = True, right_index = True)
cijferlijst

Het is handig om een dataframe een sprekende index te geven:
-	Maak `Studentnr` de rij-index. NB. Gebruik indien nodig de optie `inplace=True`.

In [ ]:
cijferlijst.set_index("Studentnr", inplace = True)

De docent wil wat basisgegevens: minimum, maximum, gemiddelde van de cijfers weten. Het grote voordeel is dat numpy heel goed kan omgaan met de numerieke kolommen van een dataframe. Voorbeeld: het berekenen van het gemiddelde cijfer voor het vak ‚ÄòRAD‚Äô kan met de opdracht: `np.mean(cijferlijst['RAD']`.
-	Bepaal minimum, maximum en gemiddelde van alle cijfers.
-	Bepaal minimum, maximum en gemiddelde van elk vak (3 getallen).
-	Bepaal minimum, maximum en gemiddelde van elke student (10 getallen).

In [ ]:
#per student
cijferlijst[["RAD", "ANA", "CBA"]].mean(axis = 1)

In [ ]:
np.min(cijferlijst[["RAD", "ANA", "CBA"]], axis = 1)

In [ ]:
np.max(cijferlijst[["RAD", "ANA", "CBA"]], axis = 1)

In [ ]:
#per vak
np.mean(cijferlijst[["RAD", "ANA", "CBA"]], axis = 0)

Er is een fout gemaakt bij de cijfers van het 1e vak (RAD). Iedere student krijgt 0.5 punt extra erbij.
-	Doe dit met √©√©n opdrachtregel.

In [ ]:
cijferlijst['RAD'] = cijferlijst['RAD'] + 0.5

De docent wil graag weten of er verschil in studentprestaties is afhankelijk van de vooropleiding. 
-	Toon voor elk vak het vooropleiding groepsgemiddelde.
-	Wat is je conclusie ?

In [ ]:
cijferlijst[["Vooropleiding", "ANA", "RAD", "CBA"]]

In [ ]:
cijferlijst[["Vooropleiding", "ANA", "RAD", "CBA"]].groupby("Vooropleiding").agg('mean')

Conclusie:

## Opdracht 4 datetime

Maak een Jupyter notebook waarin je met Pandas de volgende casus realiseert: een storingsmedewerker wil graag onderzoeken hoe het weer geweest is op 1 Januari 2017. Hiervoor vraagt hij bij het KNMI de weergegevens op van drie meetstations.

Aanvullende bronnen:
- http://chrisalbon.com/python/pandas_time_series_basics.html
- http://chrisalbon.com/python/date_and_time_basics.html
- http://chrisalbon.com/python/pandas_group_by_time.html

In [ ]:
# Aanvullende imports
import datetime as dt
import matplotlib.pyplot as pyplot

# De data die we gaan gebruiken.
data = {'meetpunt': ['De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden',
                     'De Bilt','Maastricht', 'Leeuwarden'],
        'datum': ['2017-01-01 13:00:05.069722', '2017-01-01 13:00:01.119994', '2017-01-01 13:00:07.178768',
                  '2017-01-02 13:00:01.043200', '2017-01-02 13:00:03.119401', '2017-01-02 13:00:03.876898',
                  '2017-01-03 13:00:03.043450', '2017-01-03 13:00:02.669401', '2017-01-03 13:00:01.321898',
                  '2017-01-04 13:00:04.042015', '2017-01-04 13:00:04.321564', '2017-01-04 13:00:04.394866'],
        'temperatuur': [-0.3, 1.9, 0.8,
                        1.8, 7.1, 5.7,
                        2.9, 7.3, 5.1,
                        0.1, 6.8, 2.1,]}

Bewerk de data zodat deze netjes in een dataframe komt.
-	Maak een dataframe met kolommen: ‚Äòdatum‚Äô, ‚Äòtemperatuur, ‚Äòmeetpunt‚Äô.
-	Maak van de datum kolom een kolom met datatype datetime.

In [ ]:
df = pd.DataFrame(data)
df['datum'] = pd.to_datetime(df['datum'])

Doe de volgende analyse op de datum gegevens.
-	Haal de eerste datumwaarde uit de tabel.
-	Bepaal van de eerste datumwaarden: jaar, maand, dag, uur, minuut en seconde.
-	Bepaal het tijdsverschil tussen de 1e en laatste waarde.
-	Bepaal van het tijdsverschil het aantal dagen.
-	Bepaal van het tijdsverschil het aantal uren.

In [ ]:
datum = df['datum'].iloc[0]

In [ ]:
datum

In [ ]:
verschil = df['datum'].iloc[-1] - df['datum'].iloc[0]
verschil

In [ ]:
verschil/pd.Timedelta(1,'h')

De storingsmedewerker wil graag de volgende gegevens van dagen. Daarom is het handig om de dataframe te voorzien van een index. Voer dan de volgende opdrachten uit en verklaar deze.

-	Maak van de datum kolom een index.
-	De temperaturen op 1 januari.
-	De temperaturen na 3 januari.
-	De temperatuur gemiddeld per dag .
-	Leg nu zelf uit wat de functie shift() doet.
-	Haal de datum kolom index weer weg.

In [ ]:
df.set_index('datum', inplace = True)

In [ ]:
df

In [ ]:
df.loc['2017-01-01']

In [ ]:
df.sort_index(inplace = True)

In [ ]:
df.loc['2017-01-03':]

In [ ]:
df["temperatuur"].resample('D').agg(['mean','max'])

In [ ]:
df.shift(5,'d')